@model IEnumerable<ReviewsFall18.Models.Review>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <img src="~/Images/berg-eltz.jpg" />
</body>
</html>
